.base {
  display: flex;
  flex: 0 0 100%;
  margin: 5px 10px;
}

.own {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text {
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
  background-color: #57457c;
  color: #fff;
}

.companion {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .text {
    color: #222;
    background-color: rgb(235, 235, 235);
  }
}

.avatar {
  height: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  margin-right: 10px;
}
